<h2><%= @station.name %></h2>
<% unless current_user.subscribed?(@station.id) %>
  <%= button_to(
    'Subscribe',
    users_stations_subscriptions_path,
    method: :post,
    params: {@station.id.to_s => '1', 'redirect' => 'true'}
  )  %>
<% else %>
<%= button_to(
  'Unsubscribe',
  users_stations_subscriptions_path,
  method: :delete,
  params: {station_id: @station.id, redirect: 'true'}
)  %>
<% end %>
