<% @pitch.comments.each do |comment| %>
<p>
  <strong><%= comment.user.screen_name %></strong><br>
  &nbsp;&nbsp;<%= comment.body %><br>
  <%= pluralize comment.ups, 'Like' %> | <%= pluralize comment.downs, 'Dislike' %> | Reply
</p>
<% end %>
