<h1>Welcome, <%= current_user.screen_name %></h1>
<table class='trending-stories'>
  <h3>Today's Top Trending Stories</h3>
  <% @story_collection.top_five_stories.each do |story| %>
  <div class="story">
    <tr>
      <td>
        <%= link_to story.title, story.url %>
      </td>
    </tr>
    <table>
      <tr>
        <td>
          Published <%= story.elapsed_time_since_published %> hours ago
        </td>
        <td>
          <%= link_to 'Pitch Story', new_users_pitch_path %>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
</table>
</div>
<h3>Your Recent Story Pitches</h3>
