<li><%= link_to 'Trending Stories', stories_path %></li>
<li><%= link_to 'Pitches', pitches_path %></li>
<li><%= link_to 'Nearby News Stations', users_new_station_path %></li>
<li><%= link_to 'Logout', logout_path, method: :delete %></li>
